.editor {
  position: relative;
}
.editor::before {
  position: absolute;
  right: 0;
  top: 1px;
  padding: 0.3rem 0.5rem;
  background: white;
  content: 'count: ' attr(data-count);
}
.editor:focus::before {
  content: none;
}
.editor img {
  max-width: 100%;
}
